{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="banner warning" id="warning-no-campaign">
  <div class="banner-content">
    <span>⚠ Kein Kampagnenordner gesetzt</span>

    <div class="inline-form">
      <button onclick="setPath()" class="btn primary">Auswählen</button>
    </div>
  </div>
</div>

<section class="card requires-campaign disabled">
  <h2>👥 Personen</h2>
  <p>Was ist bekannt über die Charaktere?</p>

  <div class="actions">
    <a href="/people" class="btn primary">Anzeigen</a>
    <a href="/people/new" class="btn disabled">Neu anlegen</a>
  </div>
</section>

<script>
  const socket = io();
  function setPath() {
    const input = document.getElementById("campaign-path-input");

    socket.emit("request_set_campaign_folder");
  }

  document.addEventListener("DOMContentLoaded", () => {
    socket.emit("request_reload_index");
  });

  socket.on("campaign_set_status", function (data) {
    document.querySelectorAll(".nav-requires-campaign").forEach((el) => {
      el.classList.toggle("nav-disabled", !data.is_active);
    });

    document.querySelectorAll(".requires-campaign").forEach((el) => {
      el.classList.toggle("disabled", !data.is_active);
    });
    const warning = document.getElementById("warning-no-campaign");
    if (data.is_active) {
      warning.style.display = "none";
    } else {
      warning.style.display = "block";
    }
  });
</script>

{% endblock %}
