{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="banner warning">
  <div class="banner-content">
    <span>⚠ Kein Kampagnenordner gesetzt</span>

    <div class="inline-form">
      <button onclick="setPath()" class="btn primary">Auswählen</button>
    </div>
  </div>
</div>

<section class="card">
  <h2>👥 Personen</h2>
  <p>Was ist bekannt über die Charaktere?</p>

  <div class="actions">
    <a href="/people" class="btn primary">Anzeigen</a>
    <a href="/people/new" class="btn">Neu anlegen</a>
  </div>
</section>

<script>
  const socket = io();
  function setPath() {
    const input = document.getElementById("campaign-path-input");

    socket.emit("request_set_campaign_folder");
  }
</script>

{% endblock %}
