{% extends "base.html" %} {% block title %}People{% endblock %} {% block head_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/people.css') }}" />
{% endblock %} {% block content %}
<div class="page-header">
  <h1>👥 Personen</h1>
  <button href="/people/new" class="btn primary disabled">+ Neue Person</button>
</div>

<div class="people-grid" id="people-container"></div>

<script>
  const socket = io();
  document.addEventListener("DOMContentLoaded", () => {
    socket.emit("request_people_list");
  });

  socket.on("updated_people_list", function (data) {
    renderPeople(data);
  });

  function renderPeople(data) {
    const grid = document.getElementById("people-container");
    grid.innerHTML = "";
    data.people.forEach((person) => {
      const card = createPersonCard(person);
      grid.appendChild(card);
    });
  }

  function createPersonCard(person) {
    const card = document.createElement("a");
    card.className = "person-card disabled";
    card.href = "/people";

    const name = document.createElement("h3");
    name.textContent = person.name;

    card.appendChild(name);

    return card;
  }
</script>
{% endblock %}
