/* Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

/* Box */
.modal-content {
  background: var(--background-color);
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-close {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

/* Body */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
}

.modal-form-group.hidden {
  display: none;
}

.modal-form-group label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.modal-body input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background: var(--surface-color-snd);
  color: var(--text-color);
}

/* Footer */
.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-error-message {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 4px;

  background: var(--error);
  color: #f4f4f4;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.75rem;

  opacity: 0;
  transform: translateY(-4px);
  pointer-events: none;
  transition: 0.15s ease;
}

.modal-input-wrapper.error .modal-input-error-message {
  opacity: 1;
  transform: translateY(0);
}
